*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
  background:#111;
  color:white;
}

.container{
  padding:20px 40px;
}

/* NAVBAR */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
}

.logo{
  font-size:28px;
  font-weight:bold;
  color:red;
}

nav a{
  margin:0 15px;
  cursor:pointer;
  opacity:0.6;
}

nav a.active{
  opacity:1;
  font-weight:bold;
}

.search input{
  padding:8px 15px;
  border-radius:20px;
  border:none;
  background:#222;
  color:white;
}

/* MAIN */
main{
  display:flex;
  gap:30px;
}

.content{
  flex:3;
}

/* HERO */
.hero{
  height:250px;
  background:url("https://image.tmdb.org/t/p/original//x4biAVdPVCghBlsVIzB6NmbghIz.jpg") center/cover;
  border-radius:20px;
  display:flex;
  align-items:flex-end;
  padding:20px;
  margin-bottom:30px;
}

.hero-text button{
  margin-top:10px;
  padding:8px 20px;
  border:none;
  border-radius:20px;
  background:red;
  color:white;
  cursor:pointer;
}

/* CARDS */
section{
  margin-bottom:30px;
}

.cards{
  display:flex;
  gap:20px;
  margin-top:15px;
}

.card{
  width:150px;
  cursor:pointer;
  transition:0.3s;
}

.card img{
  width:100%;
  border-radius:15px;
}

.card:hover{
  transform:scale(1.05);
}

/* SIDEBAR */
.sidebar{
  flex:1;
  background:#1a1a1a;
  padding:20px;
  border-radius:20px;
}

.genre-list span{
  display:inline-block;
  background:#222;
  padding:8px 15px;
  border-radius:20px;
  margin:5px;
  cursor:pointer;
}

.top-item{
  margin-top:15px;
}

/* RESPONSIVE */
@media(max-width:1000px){
  main{
    flex-direction:column;
  }
}
